.#*
*~
*.aux
*.bbl
*.blg
*.dvi
*.log
*.toc
*.class
*.o
*.a
*.so
*.idx
*.ilg
*.ind
*.ppm
*.toc
*_DICT
build.tmp
.chaos
.chaos_savedgame
.settings
.idea/workspace.xml
.made
out
src/irvine/math/expression/Grammar.tokens
src/irvine/math/expression/GrammarLexer.java
src/irvine/math/expression/GrammarLexer.tokens
src/irvine/math/expression/GrammarParser.java
src/irvine/math/expression/GrammarBaseListener.java
src/irvine/math/expression/GrammarListener.java
src/irvine/factor/data/
src/irvine/language/entropy/uniword_english.model
src/irvine/language/english.lex.gz
test/irvine/oeis/stripped.gz
test/irvine/oeis/seq/
words/freq/
doc/reincarnation1.eps
doc/reincarnation2.eps
doc/maxsep/15*.eps
doc/maxsep/md5sums
doc/chatham.pgm
doc/chatham1.eps
doc/chatham1.ps
doc/data
doc/graphs
doc/lfsr
doc/cspell
doc/cicons
doc/stars
doc/plasma
doc/hashbias.tex
doc/hashtiming.tex
doc/hashgraphs
doc/twiddling
doc/shield.eps
doc/ordinary*
doc/cartouche*
doc/lozenge*
doc/contour*.eps
doc/*.ppm
doc/*.dat
doc/lom/lomdict.tex
doc/lom/specialplaces.tex
doc/lom/area.tex
doc/lom/doomdarkregiments.tex
doc/lom/recruit.tex
doc/lom/locationtable.tex
doc/lom/adjustx.tex
doc/lom/adjusty.tex
doc/lom/terrain.tex
doc/lom/*.eps
doc/zxchaos/*.eps
doc/zxchaos/aiweight.tex
doc/zxchaos/masterpointertable.tex
doc/zxchaos/masterdatatable.tex
doc/zxchaos/spelldatatable.tex
doc/zxchaos/startpos.tex
doc/zxchaos/spellinit.tex
doc/zxchaos/c1
doc/zxchaos/c2
words/*.dat
words/*.lst
tex/oeis/a*/*.eps
tex/oeis/a*/*.pdf
tex/oeis/*.eps
tex/oeis/*.pdf
30p3.eps
30p3.tex
30p4.eps
30p4.tex
39p5*.eps
tex/months.eps
tex/chain.eps
tex/leaves.eps
tex/triangle.eps
tex/emgraph/*.eps
c/nosean
c/a[012]*[^c]
cp1_27.eps
cp1_30.eps
apostol/4.2.tex
apostol/*.eps
quiz2013/*.eps
book.index
texput.log
algorithms.log
handbook/*.freq.lst
handbook/imdb
handbook/*.dat
handbook/music/*.dat
handbook/*.pdf
handbook/varwidth.sty
src/irvine/puzzle/*.dat
src/irvine/puzzle/pic*.eps
src/irvine/puzzle/cwpuzzle.sty
src/irvine/cards/*.eps
src/irvine/cards/*.log
src/irvine/factor/project/em/*.dat
src/irvine/factor/project/em/em.png
src/irvine/factor/project/em/*.plot
src/irvine/factor/project/em/mesh
src/irvine/factor/dist/*.out
quiz2012/flag.eps
quiz2012/flagq.eps
quiz2012/monopoly.eps
quiz2013/[ru][0-9][0-9].eps
quiz2011j/dots.eps
quiz2011j/p1.tex
quiz2011j/ss.eps
quiz2011j/cameron.eps
quiz2011j/.*
quiz2011j/a42.dat
quiz2011j/p42.dat
quiz2011j/a41.dat
quiz2011j/p41.dat
quiz2011j/wf1.tex
quiz2011j/maze1.tex
quiz2011j/pic42.eps
quiz2011j/pic41.eps
quiz2011j/maze1.tex
quiz2011j/maze2.tex
quiz2014/chess.eps
quiz2014/d??.eps
quiz2014/m??.eps
quiz2014/bean??.eps
quiz2014/c???.png
quiz2014/c???.eps
quiz2014/dec.jpg
quiz2014/mask.png
quiz2014/1963.eps
quiz2014/kgb.eps
quiz2014/e0?.eps
quiz2014/days.eps
words/*.dat
words/*.lst
words/*.log
words/freq
words/scowl*
words/wg
words/movies.list.gz
quiz2015/eqn.eps
quiz2015/mask.png
quiz2015/c*.eps
quiz2015/ccameron.png
quiz2015/roles.eps
quiz2015/cnicholas.png
quiz2015/p?.eps
quiz2015/map.eps
quiz2015/z?.eps
quiz2015/tan.eps
quiz2015/halfpie.eps
quiz2015/pie.eps
quiz2015/apples.eps
quiz2015/butter.eps
quiz2015/charlie.eps
quiz2015/edward.eps
quiz2015/freddy.eps
quiz2015/george.eps
quiz2015/harry.eps
quiz2015/ink.eps
quiz2015/johnnie.eps
quiz2015/king.eps
quiz2015/london.eps
quiz2015/monkey.eps
quiz2015/nuts.eps
quiz2015/orange.eps
quiz2015/pudding.eps
quiz2015/queenie.eps
quiz2015/robert2.eps
quiz2015/sugar.eps
quiz2015/tommy.eps
quiz2015/uncle.eps
quiz2015/vinegar.eps
quiz2015/willie.eps
quiz2015/xerxes.eps
quiz2015/yellow.eps
quiz2015/zebra.eps
quiz2015/harrison.eps
quiz2015/cleveland.eps
quiz2015/garfield.eps
quiz2015/lincoln.eps
quiz2015/mckinley.eps
quiz2015/egypt.eps
quiz2015/india.eps
quiz2015/uruguay.eps
quiz2015/australia.eps
quiz2015/antarctica.eps
quiz2015/rubic-*.eps
quiz2015/bulb.eps
quiz2015/bull.eps
quiz2015/uluru.eps
quiz2015/lulu.eps
quiz2015/question.eps
quiz2015/perfect.eps
quiz2015/quiet.eps
quiz2015/rush.eps
quiz2015/silly.eps
quiz2015/tickle.eps
quiz2015/007*.eps
quiz2013j/*.eps
quiz2017/quiz.pdf
tex/panalphabet*.dat
tex/emgraph/*.pdf
quiz2012/[ur]*.eps
oeis_done.dat
oeis_done.png
oeis-implemented.png
cycle-index/cycle-index.pdf
cycle-index/*.dat
tex/zx81-memory/zx81-memory.pdf
tex/zx81-memory/zx81-timing.tex
tex/groups/gen
tex/groups/groups.pdf
tex/groups/Op.java
tex/groups/graph.dot
tex/groups/graph.png
tex/groups/graph.eps
tex/groups/graph.pdf
factdict/dome.pdf
tex/zeolite/*.pdf
tex/zeolite/*.dat
models
genealogy/dome.pdf
src/irvine/cards/heroes/*.eps
