.#*
*~
*.aux
*.bbl
*.blg
*.dvi
*.log
*.toc
*.class
*.o
*.a
*.so
*.idx
*.ilg
*.ind
*.ppm
*.toc
*_DICT
build.tmp
.settings
.idea/workspace.xml
.made
out
src/irvine/math/expression/Grammar.tokens
src/irvine/math/expression/GrammarLexer.java
src/irvine/math/expression/GrammarLexer.tokens
src/irvine/math/expression/GrammarParser.java
src/irvine/math/expression/GrammarBaseListener.java
src/irvine/math/expression/GrammarListener.java
src/irvine/factor/data/
src/irvine/language/entropy/uniword_english.model
src/irvine/language/english.lex.gz
test/irvine/oeis/stripped.gz
test/irvine/oeis/seq/
c/nosean
c/a[012]*[^c]
src/irvine/factor/project/em/*.dat
src/irvine/factor/project/em/em.png
src/irvine/factor/project/em/*.plot
src/irvine/factor/project/em/mesh
src/irvine/factor/dist/*.out
oeis_done.dat
